<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template. install.sh substitutes {{...}} placeholders with the
     installing machine's values; do not commit real paths. -->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vphone.amfidont</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/sudo</string>
        <string>-n</string>
        <string>{{PYTHON_BIN}}</string>
        <string>-u</string>
        <string>-m</string>
        <string>amfidont</string>
        <string>--spoof-apple</string>
        <string>--verbose</string>
        <string>--path</string>
        <string>{{APP_PATH}}</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>DEVELOPER_DIR</key>
        <string>{{DEVELOPER_DIR}}</string>
        <key>PYTHONPATH</key>
        <string>{{SITE_PACKAGES}}</string>
        <key>PATH</key>
        <string>{{DEVELOPER_DIR}}/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOG_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_PATH}}</string>
</dict>
</plist>
